# Ignore Python cache
__pycache__/
*.py[cod]
*.sqlite3

# Ignore virtualenv
venv/

# Ignore environment variables
.env

# Ignore macOS junk
.DS_Store

# Logs
*.log
topup_logs.log

# Ignore VSCode settings
.vscode/
